[Unit]
Description=Frp Client Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=<user>
Restart=on-failure
RestartSec=5s
ExecStart=<dir>/frpc -c <dir>/%i.toml
ExecReload=<dir>/frpc reload -c <dir>/%i.toml
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
